.restaurant-card{
    width: 250px;
    padding: 16px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.restaurant-card img{
    width: 100%;
    height: 180px;
    border-radius: 8px;
}

.restaurant-card:hover{
    transform: scale(1.02)
}

.restaurant-card{
    transition: transform 0.2s;
}